{% extends 'holdingApp/mainWrapper.html' %}
{% block title %}Текущая загадка{% endblock %}
{% block content %}
    {% if complete == True %}
        Вы завершили квест!
    {% else %}
        {% if to_quest == 'past' %}
            <div class="row">
                <div class="col-4">
                    <form class="mb-2" action="{{ quest.id }}/check_code" method="post">{% csrf_token %}
                        <label class="d-block" for="code">Проверить код:</label>
                        <input type="text" class="form-control w-50 d-inline mb-2"
                               id="code" name="code" placeholder="Введите код">
                        <input type="submit" class="btn btn-success" value="Проверить">
                    </form>
                    {% if message == 'right' %}
                        <div class="alert alert-success w-75">Код введён верно!</div>
                    {% endif %}
                    {% if message == 'wrong' %}
                        <div class="alert alert-danger w-75">Код введён неверно!</div>
                    {% endif %}
                    <p>Ответы:</p>
                    {% for answer in answers %}
                        {% if answer == "none" %}
                            <p class="text-danger">Сектор {{ forloop.counter }}: код не найден</p>
                        {% else %}
                            <p class="text-success">Сектор {{ forloop.counter }}: {{ answer }}</p>
                        {% endif %}
                    {% endfor %}
                    <div class="alert-dark alert w-75 text-center">
                        <h6>Автопереход на следущий уровень через:</h6>
                        <span id="puzzle-timer">
                            {{ time_left.hours }}:{{ time_left.minutes }}:{{ time_left.seconds }}
                        </span>
                    </div>
                </div>
                <div class="col-8">
                    <h2 class="text-center">{{ puzzle.title }}</h2>
                    {{ puzzle.html|safe }}
                </div>
            {% for hint in hints %}
                <p>{{ hint.html }},{{ hint.open_time }};</p>
            {% endfor %}
            </div>

        {% else %}
            <h3>Квест ещё не начался</h3>
            <p>До начала квеста осталось</p>
            <p id="to-start-timer" class="text-center">
                {{ to_quest.days }} дней {{ to_quest.hours }} часов
                {{ to_quest.minutes }} минут {{ to_quest.seconds }} секунд
            </p>
        {% endif %}
    {% endif %}
    <script>
        if ('{{ to_quest }}' !== 'past') {
            let Timer = document.getElementById("to-start-timer").innerHTML;
            startQuestTimer();

            function startQuestTimer() {
                let tick = function (Timer) {
                    let arr = Timer.split(' дней ');
                    let days = arr[0];
                    arr = arr[1].split(' часов ');
                    let hours = arr[0];
                    arr = arr[1].split(' минут ');
                    let minutes = arr[0];
                    arr = arr[1].split(' секунд');
                    let seconds = arr[0];
                    if (days === 0 && hours === 0 && minutes === 0 && seconds === 0) {
                        location.reload();
                        return;
                    } else seconds -= 1;
                    if (Number.parseInt(seconds) === -1) {
                        minutes -= 1;
                        seconds = "59";
                    }
                    if (Number.parseInt(minutes) === -1) {
                        hours -= 1;
                        minutes = "59";
                    }
                    if (Number.parseInt(hours) === -1) {
                        days -= 1;
                        hours = "23";
                    }
                    return days + ' дней ' + hours + ' часов ' + minutes + ' минут ' + seconds + ' секунд'
                };
                Timer = tick(Timer);
                document.getElementById("to-start-timer").innerHTML = Timer;

                setTimeout(startQuestTimer, 1000);
            }
        } else if ('{{ complete }}' === 'False') {
            let Timer = document.getElementById("puzzle-timer").innerHTML;
            startPuzzleTimer();

            function startPuzzleTimer() {
                let tick = function (Timer) {
                    console.log('tick');
                    let arr = Timer.split(':');
                    let hours = arr[0];
                    let minutes = arr[1];
                    let seconds = arr[2];
                    if (hours === 0 && minutes === 0 && seconds === 0) {
                        location.reload();
                        return;
                    } else seconds -= 1;
                    if (Number.parseInt(seconds) === -1) {
                        minutes -= 1;
                        seconds = "59";
                    }
                    if (Number.parseInt(minutes) === -1) {
                        hours -= 1;
                        minutes = "59";
                    }
                    return formatTime(hours) + ":" + formatTime(minutes) + ":" + formatTime(seconds);
                };
                Timer = tick(Timer);
                document.getElementById("puzzle-timer").innerHTML = Timer;

                setTimeout(startPuzzleTimer, 1000);
            }

            function formatTime(time) {
                time = Number.parseInt(time);
                if (time < 10) return "0" + time;
                else return time
            }
        }
    </script>
{% endblock %}