{% extends 'creationApp/mainWrapper.html' %}
{% block title %}Редактирование квеста{% endblock %}
{% block content %}
    <h3>Редактировать информацию:</h3>
    <form action="/edit/{{ quest.id }}" method="post">{% csrf_token %}
        <label for="quest_title">Название квеста</label>
        <input type="text" class="form-control mb-2 w-50" id="quest_title" name="title" value="{{ quest.title }}">
        <label for="description">Описание квеста</label>
        <textarea class="form-control mb-2 w-50" rows="6"
                  id="description" name="description">{{ quest.description }}</textarea>
        <label for="start_date">Дата начала</label>
        <input type="datetime-local" class="form-control w-50 mb-2"
               id="start_date" name="start_date"
               value="{{ quest.start_date|date:"Y-m-d\TH:i" }}">
        <input type="submit" class="btn btn-primary mb-2" value="Сохранить">
    </form>
    <button type="button" id="gifsBtn" class="btn btn-dark mb-2"
            data-toggle="collapse" data-target="#puzzle">
        Добавить загадку
    </button>
	<div id="puzzle" class="collapse mb-5">
        <form action="{{ quest.id }}/add/puzzle" method="post">{% csrf_token %}
            <label for="puzzle_title">Введите название загадки</label>
            <input type="text" class="form-control mb-2 w-50" id="puzzle_title" name="title" placeholder="Новая загадка">
            <label for="html">Введите текст загадки</label>
            <textarea type="text" class="form-control mb-2 w-50" rows="6" id="html" name="html"
                      placeholder="Описание новой загадки"></textarea>
            <label for="auto_skip_minutes">Введите время автоскипа закадки (в минутах)</label>
            <input type="number" class="form-control w-50 mb-2" step="5" name="auto_skip_minutes"
                   id="auto_skip_minutes" placeholder="120">
            <input type="submit" class="btn-success btn mb-5" value="Добавить">
        </form>
    </div>
{% endblock %}