* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: white;
    font-size: 18px;
}
a {
    color: inherit;
}
a:hover{
    color: inherit;
}
.line {
    width: 100%;
    border-top: 2px solid #8D161A;
    margin-bottom: 0.5em;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    width: 100%;
    background-color: darkgrey;
    border: solid #555555 1px;
    padding: 0.2em;
    margin-bottom: 0.5em;
}
input[type="submit"].register-button {
    text-align: center;
    background-color: #8D161A;
    text-transform: uppercase;
    padding: 0.3em;
    font-weight: bold;
    border: 0;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.additional-text {
    color: gray;
    font-size: 0.8em;
}
input[type="submit"].register-button:hover {
    background-color: #9E272B;
}
.blur {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 800px;
    background: #555555;
    border-radius: 50%;
    top: 15%;
    opacity: .1;
    filter: blur(50px);
}

.wrap {
    width: 1140px;
    margin: auto;
}

.header {
    width: 100%;
    display: flex;
    height: 200px;
}

.header > .logo {
    width: 25%;
}

.logo > img {
    height: 100%;
}

.header-right {
    height: 100%;
    width: 75%;
}

.header-text {
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    height: 50%;
}

.buttons > li {
    list-style-type: none;
    height: 2.2em;
}

.buttons > li.register-button {
    text-align: center;
    background-color: #8D161A;
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: bold;
}

.buttons > li.register-button:hover {
    background-color: #9E272B;
}

.buttons > li > .menu-button {
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    height: 2em;
}

.buttons > li > .underline {
    height: 0.2em;
    background-color: gray;
}

.buttons > li:hover {
    cursor: pointer;
}

.buttons > li:hover .menu-button {
    background-color: #333333;
}

.buttons > li:hover .underline {
    background-color: #8D161A;
}

.new_team-button {
    text-align: center;
    background-color: #8D161A;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    color: white;
    float: right;
    padding: 0.1em 0.2em;
}
.new_team-button:hover {
    background-color: #9E272B;
    cursor: pointer;
}

.team-place {
    border: dotted gray;
    margin-bottom: 0.5em;
    border-width: 0 0 2px 0;
    padding: 0.5em;
}

.invite-place {
    background-color: #8D161A;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.invite-button {
    width: 50%;
    margin: auto;
}

.invite-button > .button-content {
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    height: 2em;
}

.invite-button > .underline {
    height: 0.2em;
    background-color: gray;
}

.invite-button:hover {
    cursor: pointer;
}

.invite-button:hover .button-content {
    background-color: #333333;
}

.invite-button:hover .underline {
    background-color: #8D161A;
}

@media screen and (max-width: 1200px) {
    .wrap {
        width: 95%;
    }
}