{% extends 'preparationApp/mainWrapper.html' %}
{% block title %}Информация о квесте{% endblock %}
{% block content %}
    <h3>{{ quest.title }}</h3>
    <p>{{ quest.description }}</p>
    <p>Начало: {{ quest.start_date }}</p>
    {% if quest.owner.username != user.username %}
        {% if registered == False %}
            <h5>Подать заявку:</h5>
            <form action="/quests/request" method="post">{% csrf_token %}
                <input type="hidden" name="id" value="{{ quest.id }}">
                <label for="team-select">Выберете команду</label>
                <select class="form-control w-50 mb-2" name="team" id="team-select">
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.title }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-success mb-2" value="Отправить">
            </form>
        {% else %}
            Ваша команда "{{ registered }}" уже зарегистрирована!
            <a class="btn btn-dark" href="/quest/{{ quest.id }}">Участвовать</a>
        {% endif %}
    {% else %}
        <h4>Заявки на квест:</h4>
        {% for req in requests %}
            <form class="alert alert-dark w-25 text-center" action="/quests/submit" method="post">{% csrf_token %}
                <input type="hidden" name="id" value="{{ req.id }}">
                <h5>{{ req.team }}</h5>
                <p>Капитан: {{ req.team.captain }}</p>
                <input type="submit" class="btn btn-success mb-2" value="Принять">
            </form>

        {% endfor %}
        <a class="btn btn-primary" href="/edit/{{ quest.id }}">Редактировать</a>
    {% endif %}
{% endblock %}