{% extends 'preparationApp/mainWrapper.html' %}
{% block title %}Квесты{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-6">
    <h3>Ваши квесты:</h3>
    {% if your_quests|length == 0 %}
        <p>Нет квестов</p>
    {% else %}
        {% for quest in your_quests %}
            <div class="alert alert-dark">
                <h3>{{ quest.title }}</h3>
                <a href="quests/{{ quest.id }}">Подробнее...</a>
            </div>
        {% endfor %}
    {% endif %}
    <h3>Другие квесты:</h3>
    {% if other_quests|length == 0 %}
        <p>Нет квестов</p>
    {% else %}
        {% for quest in other_quests %}
            <div class="alert alert-dark">
                <h3>{{ quest.title }}</h3>
                <a href="quests/{{ quest.id }}">Подробнее...</a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-6">
    <button type="button"class="btn btn-dark mb-2"
            data-toggle="collapse" data-target="#quest">
        Добавить квест
    </button>
    <div id="quest" class="collapse mb-5">
    <form action="/quests/add" method="post">{% csrf_token %}
        <label for="title">Введите название квеста</label>
        <input type="text" class="form-control mb-2"
               id="title" name="title" placeholder="Новый квест">
        <label for="description">Введите описание квеста</label>
        <textarea class="form-control mb-2" rows="6"
                  id="description" name="description" placeholder="Описание нового квеста"></textarea>
        <input type="submit" class="btn btn-success mb-5" value="Создать">
    </form>
    </div>
    </div>
    </div>
{% endblock %}