{% extends 'preparationApp/mainWrapper.html' %}
{% block title %}Квесты{% endblock %}
{% block content %}
    <h3>Ваши квесты:</h3>
    {% for quest in quests_list %}
        {% if quest.owner.username == user.username %}
            <div class="alert alert-dark w-50">
                <h3>{{ quest.title }}</h3>
                <a href="quests/{{ quest.id }}">Подробнее...</a>
            </div>
        {% endif %}
    {% endfor %}
    <h3>Другие квесты:</h3>
    {% for quest in quests_list %}
        {% if quest.owner.username != user.username %}
            <div class="alert alert-dark w-50">
                <h3>{{ quest.title }}</h3>
                <a href="quests/{{ quest.id }}">Подробнее...</a>
            </div>
        {% endif %}
    {% endfor %}
    <h3>Добавить квест:</h3>
    <form action="/quests/add" method="post">{% csrf_token %}
        <label for="title">Введите название квеста</label>
        <input type="text" class="form-control w-25 mb-2"
               id="title" name="title" placeholder="Новый квест">
        <label for="description">Введите описание квеста</label>
        <input type="text" class="form-control w-25 mb-2"
               id="description" name="description" placeholder="Описание нового квеста">
        <input type="submit" class="btn btn-success" value="Создать">
    </form>
{% endblock %}